<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">Felipe Madureira</span>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/felipemadu13/" target="_blank"><img class="img" src="../../assets/imgs/linkedin.png"></a>
      <a href="https://github.com/felipemadu13" target="_blank"><img class="img" src="../../assets/imgs/github.png"></a>
    </div>
  </footer>
</div>
